.section {
  font-family: 'Lato', sans-serif;
}

.section h2 {
  border-bottom: 0.7px solid;
  padding-bottom: 5px;
}

.section p {
  font-size: large;
  padding-left: 10px;
}

body {
  background-color: #f3f3f3 !important;
}

body .site-name {
  font-family: 'Saira', sans-serif;
}
